html, body {
  margin: 0px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.site {
	width:100%;
	border:none;
	padding: 0;
}

.site aside {
  position: fixed;
	float: left;
	width: 20%;
  height: 100%;
}

#logo {
  width: 100%;
  text-align: center;
}
#logo img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
}

#menue {
	background-color: lightgray;
  height: 100%;
}
#menue > div {
  padding-bottom: 5%;
  padding-top: 5%;
}

.menue_punkte {
	text-align:center;
	padding:2%;
	margin:2%;
}
#home_menue_btn {
  background-color: black;
  color: white;
}
#angebot_menue_btn {
  background-color: white;
  color: black;
}
#kontakt_menue_btn {
  background-color: white;
  color: black;
}
#impressum_menue_btn {
  background-color: orange;
  color: black;
}

a {
	text-align:center;
	list-style:none;
	text-decoration:none;
}

#menue_punkte:hover {
	cursor:pointer;
}

.site article {
  position: absolute;
  left: 20%;
	text-align:center;
	border:none;
}

#picture {
	padding-top:1%;
	text-align:center;
	width: 100%;
	display:inline-block;
	border-bottom-style:solid;
	border-color:orange;
}

.pic {
  min-width: 150px;
	width:20%;
	margin:1%;
}

#zwischenbalken {
	height:1em;
	width:100%;
	margin-top:2em;
}

#seite
{
	text-align: left;
  margin: auto;
  width: 80%;
}

.angebote {
  display: inline-block;
 background-color: lightgray;
 height: 100%;
 width: 80%;
 margin-top: 4%;
}

.angebote_bild {
	float: left;
	display: inline;
}

.text {
	text-align: center;
}

.table_oben {
  margin:auto;
  width:100%;
}

.th_oben {
  border-bottom: 1px solid lightgray;
}

.beschr {
	margin:auto;
	padding-top:5%;
	padding-bottom:5%;
	color:orange;
	font-weight:bold;
}


.table_unten {
	margin:auto;
	border:1px solid lightgray;
	width:100%;
	border-radius:5px;
	margin-bottom:1%;
	background-color:lightgray;
}

.th_unten {
	padding:1%;
}

table {
  border-collapse: collapse;
}
td {
  white-space:nowrap;
}
td span {
  font-weight: bold;
}
td:last-child input {
  width: 100%;
}
td:last-child {
  width: 100%;
}

#error_msgs {
  text-align: center;
}
.success_msg {
  color: #00E600;
}
.error_msg {
  color: #E60000;
}
.show {
  display: block;
}
.hide {
  display: none;
}

#kontakt_msg {
  margin: 2em auto;
  width: 100%;
}

#button_div {
  text-align: center;
}
#button_div > input {
  padding: 0.5em 1em;
}
